.skeleton {
    position: relative;
    width: max-content;
    overflow: hidden;
    border-radius: 4px;
    background-color: #0c4278 !important;
    color: transparent !important;
    border-color: #0f4072 !important;
    user-select: none;
    cursor: default;
}

.skeleton img {
    opacity: 0;
}

.skeleton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
            #0e4f9800 0,
            #0f3568 20%,
            #508ede 60%,
            #214c84);
    animation: shimmer 2s infinite;
    content: '';
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

img {
    width: 100%;
    vertical-align: middle;
}


.profile-container {
    width: 95%;
    max-width: 780px;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 32px;
    background-color: #0f5091;
    overflow: hidden;
    position: relative;
}

.cover-img {
    width: 100%;
    overflow: hidden;
    background-color: #0a4e93;
    aspect-ratio: 4 / 1;
}

.profile-img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    border: 4px solid rgb(11, 63, 136);
    background-color: #092948;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    bottom: 100px;
}


/* Deus endureceu o coração do Faraó porque queria demonstrar Seu poder e fazer com que Seu nome fosse proclamado em toda a Terra. Essa resposta nós encontramos na Bíblia. Vamos conferir.
Em Êxodo 7:3-4 vemos que Deus endureceu o coração do Faraó, e este decidiu não deixar os israelitas saírem do país em liberdade:
Eu, porém, farei o coração do faraó resistir; e, embora multiplique meus sinais e maravilhas no Egito, ele não os ouvirá. Então porei a minha mão sobre o Egito, e com poderosos atos de juízo tirarei do Egito os meus exércitos, o meu povo, os israelitas.

Deus, mais tarde, manda um recado a Faraó através de Moisés, que podemos ler em Êxodo 9:16 e até relembrado por Paulo em Romanos 9:17:
Mas eu o mantive em pé exatamente com este propósito: mostrar a você o meu poder e fazer que o meu nome seja proclamado em toda a terra.
Através do endurecimento do coração do faraó, Deus demonstrou Seu poder de forma miraculosa, libertando o Seu povo da escravidão e fazendo com que essa história fosse contada até os dias de hoje

Lembrando que o coração de faraó já havia se endurecido antes de Deus o fazer, quando não quis dar ouvidos a Moisés e Arão */