.skeleton {
    position: relative;
    width: max-content;
    overflow: hidden;
    border-radius: 4px;
    background-color: #0c4278 !important;
    color: transparent !important;
    border-color: #0f4072 !important;
    user-select: none;
    cursor: default;
}

.skeleton img {
    opacity: 0;
}

.skeleton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
            #0e4f9800 0,
            #0f3568 20%,
            #508ede 60%,
            #214c84);
    animation: shimmer 2s infinite;
    content: '';
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

img {
    width: 100%;
    vertical-align: middle;
}


.profile-container {
    width: 95%;
    max-width: 780px;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 32px;
    background-color: #0f5091;
    overflow: hidden;
    position: relative;
}

.cover-img {
    width: 100%;
    overflow: hidden;
    background-color: #0a4e93;
    aspect-ratio: 4 / 1;
}

.profile-img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    border: 4px solid rgb(11, 63, 136);
    background-color: #092948;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    bottom: 100px;
}