 @import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

 /* Style global */
 body {
     margin: 0;
 }

 .container {
     /* border: 2px solid rgb(243, 179, 2); */
     display: flex;
 }

 /* Style login formulario */

 .apresentation-login {
     background: rgb(80, 142, 222);
     background: linear-gradient(90deg, rgb(15, 53, 104) 0%, rgb(6, 10, 16) 80%);
     width: 40%;
     /* border: 2px solid #2875b9; */

 }

 .content-login {
     margin: 7em 10em;
     /* border: 1px solid rgb(243, 2, 42); */
 }


 /* formulario  */
 .form {
     width: 100%;
     margin-top: 2em;
     border-radius: 1em;
 }

 .form_input {
     padding: 1.5em 1em;
     height: auto;
     width: 31.2em;
     margin: 1.5em 0em;
     border: none;
     border-radius: 3em 0em 3em 0em;
     background-color: rgba(9, 74, 140, 0.481);
     color: #fff;
     border: 1px solid rgba(8, 91, 168, 0.986);
     /* font-family: ; */
 }

 input::placeholder {
     font-weight: 900;
     font-size: 1.3em;
     color: aliceblue;
 }

 .caption {
     color: #fff;
     margin: 2em 0em;
     /* border: 1px solid #fff; */
 }




 /* Style Imagem Login */
 .container-image {
     width: 60%;
     height: 100vh;
 }

 .image-login {

     background-image: url("../img/planeta_terra.jpg");
     background-size: cover;
     width: 100%;
     height: 100%;
     position: relative;
     background-position-x: -14em;
 }

 /* style formulario */
 h1 {
     color: aliceblue;
     font-size: 6em;
     margin: 0 0.5em;
     font-family: 'Bungee Inline', cursive;
     font-weight: 100;
 }

 p {
     color: aliceblue;
     text-align: justify;
     font-family: 'Syne Mono', monospace;
     font-size: 0.9em;
     font-weight: 100;
 }

 hr {
     margin: 4em 3em 4em 3em;
     width: 22em;
 }

 a {
     color: #fff;
     /* border: 2px solid #feae24; */
     font-size: 1em;
 }

 .forgot-pass {
     margin-top: -1.3em;
     padding-left: 20.2em;
     /* border: 2px solid #2875b9; */

 }

 /* style button */

 .btn-grad {
     width: auto;
     height: auto;
     font-weight: 600;
     text-transform: uppercase;
     padding: 1em 4em;
     font-size: 1em;
     margin: 0em 8em;
     color: rgb(255, 255, 255);
     border: none;
     border-radius: 2em 0em 2em 0em;
     transition: 0.4s;
     background: radial-gradient(circle, #255884 0%, #0b2d4b 100%);
 }

 .btn-grad:hover {
     width: auto;
     height: auto;
     font-weight: 600;
     text-transform: uppercase;
     padding: 1em 4em;
     font-size: 1em;
     margin: 0em 8em;
     color: rgb(255, 255, 255);
     border: 2px solid #255884;
     border-radius: 0em 2em 0em 2em;
     transition: 0.5s;
     background: radial-gradient(circle, #2875b9 0%, #0b2d4b 100%);
 }

 .welcome {
     margin: -47em 16em 0em 23em;
 }

 .glass-efect {
     background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
     backdrop-filter: blur(4px);
     box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
     border: 1px solid rgba(255, 255, 255, 0.18);
     border-radius: 20px;
     text-align: center;
     width: auto;
     height: auto;
     padding: 5.5em 1em;
     transition: 1s;
     color: rgb(255, 255, 255);
     font-size: 2.5rem;
     font-weight: 500;
     text-transform: uppercase;
     font-family: fredoka one;
 }

 .glass-efect:hover {
     background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
     backdrop-filter: blur(4px);
     box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
     border: 1px solid rgba(255, 255, 255, 0.18);
     border-radius: 20px;
     text-align: center;
     width: auto;
     height: auto;
     padding: 5.5em 1.4em;
     transition: 1s;
     color: rgb(255, 255, 255);
     font-size: 2.7rem;
     font-weight: 500;
     text-transform: uppercase;
     font-family: fredoka one;
     margin: -1em 0em;
 }

 footer {
     position: unset;
     left: 0;
     bottom: 0;
     width: 100%;
     padding: 1em 0em;
     background-color: rgb(25, 68, 104);
     color: rgb(255, 255, 255);
     text-align: center;
     font-family: 'Bungee Inline', cursive;
     font-weight: 100;
 }