@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/* Style global */
body {
    margin: 0;
}

/* Style login formulario */



.apresentation-login {
    background: #508ede;
    background: linear-gradient(90deg, #0f3568 0%, rgb(6, 10, 16) 80%);
    width: 100%;
}

.content-login {
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    margin: 2.5em;
    flex-direction: column;
}

.subtitle {
    margin: 2em;
}


/* formulario  */
.form {

    margin: 2em;
    border-radius: 1em;
}


.form_input {
    padding: 1.5em 3.6em;
    height: auto;
    width: 66%;
    margin: 1.5em 0em;
    border: none;
    border-radius: 3em 0em 3em 0em;
    background-color: rgba(9, 74, 140, 0.481);
    color: #fff;
}

.form_section {
    width: 100%;
    align-items: center;
}

.formulario__input{
    padding: 1.5em 3.6em;
    height: auto;
    width: 66%;
    margin: 1.5em 0em;
    border: none;
    border-radius: 3em 0em 3em 0em;
    background-color: rgba(9, 74, 140, 0.481);
    color: #fff;
}

input::placeholder {
    font-weight: 900;
    font-size: 1.3em;
    color: aliceblue;
}

.caption {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-right: 6em;
}




/* Style Imagem Login */
.container-image {
    width: 60%;
    background-color: rgb(6, 10, 16);

}


.image-login {
    background-image: url("../img/planeta.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;

}

/* style formulario */
h1 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family: 'Bungee Inline', cursive;
    font-weight: 100;
    align-self: center;
}

p {
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Syne Mono', monospace;
    font-size: 0.9em;
    font-weight: 100;
}

hr {
    margin: 4em 1.2em;
    width: 22em;
}

a {
    color: #fff;
    font-size: 1em;
}

/* style button */

.btn-grad {
    width: auto;
    height: auto;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1em 4em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 2em 0em 2em 0em;
    transition: 0.4s;
    background: radial-gradient(circle, #255884 0%, #0b2d4b 100%);
}

.btn-grad:hover {
    width: auto;
    height: auto;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1em 4em;
    font-size: 1em;
    justify-content: center;
    color: rgb(255, 255, 255);
    border: 2px solid #255884;
    border-radius: 0em 2em 0em 2em;
    transition: 0.5s;
    background: radial-gradient(circle, #2875b9 0%, #0b2d4b 100%);
}

.welcome {
    display: none;
}

footer {
    position: unset;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    min-width: 375px;
    padding: 1em 0em 0em 0em;
    background-color: rgb(25, 68, 104);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    font-weight: 100;
}


/* media */
/* @media handheld and (grid) and (max-width: 15em) {
    ...
} */


@media (max-width: 992px) {
    html {
        height: 100vh;
    }

    .apresentation-login {
        height: 83.3em;
    }

    .form {
        margin: 2em 0em 0em 10em;

    }

    .form_section {
        width: 77%;
    }

    .information {
        margin-top: 0px;
    }

    h1 {
        margin-top: 4em;
    }

    .subtitle {
        margin: 0em 4em;
        font-size: 1.2em;
    }

    .content-login {
        justify-content: center;

    }

    .caption {
        font-size: 1.2em;
    }

    hr {
        width: 60%;
        margin-left: 3.73em;

    }

    .btn-grad {
        margin-left: 8em;
    }
}






@media (max-width: 576px) {
    html {
        height: 100%;
    }

    .apresentation-login {
        height: 890px;
    }

    h1 {
        margin-top: 1em;
    }

    .subtitle {
        font-size: 0.8em;
        margin: 0em;
    }

    .information {
        margin-top: 0px;

    }

    .content-login {
        margin: 0;

    }

    .caption {
        font-size: 1em;
    }

    hr {
        width: 15em;
        margin: 3em 3.2em;

    }

    .form {
        margin: 0em 45px;
    }

    .form_section {
        width: 100%;
    }

    .btn-grad {
        margin-left: 4em;

    }
}

@media (min-width: 1020px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .apresentation-login {
        width: 50%;
        height: 59em;
        background: rgb(80, 142, 222);
        background: linear-gradient(90deg, rgb(15, 53, 104) 0%, rgb(6, 10, 16) 65%);
    }

    .image-login {
        background-position-x: -35em;
    }
}

@media (min-width: 1440px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .apresentation-login {
        width: 50%;
        height: 59em;
    }

    .content-login {
        margin: 6em 9em 0em 9em;
    }

    img {
        width: 80vh;
    }

    .image-login {
        margin-left: 9em;
        align-items: center;
    }
}


/* invalid */
.email2,.checkPassword:hover:invalid {
    border: 1.5px solid rgb(196, 28, 28);
}

.email2,.checkPassword:valid {
    border:1.5px solid rgb(116, 242, 52);
}


/* click */