 @import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 /* Style global */
 body {
     margin: 0;
 }

 span {
     color: #fff;
     font-size: 1.15em;
 }

 .container {
     /* border: 2px solid rgb(243, 179, 2); */
     display: flex;
 }

 /* Style login formulario */

 .apresentation-login {
     /* border: 2px solid rgb(46, 2, 243); */
     /* background: #008a65; */
     background: rgb(0, 46, 31);
     width: 40%;
 }

 .content-login {
     margin: 10em 10rem;
     /* border: 2px solid rgb(243, 2, 42); */
 }


 /* formulario  */
 .form {
     width: 100%;
     margin-top: 2em;
     border-radius: 1em;

 }

 .form_input {
     padding: 1.5em 1em;
     height: auto;
     width: 28.5em;
     margin: 1em;
     border: none;
     border-radius: 0.5em;
     background-color: rgb(0, 38, 25);
     color: #fff;
     /* outline-color: rgb(0, 138, 101); */
 }

 input::placeholder {
     font-weight: 900;
     font-size: 1.3em;
     color: aliceblue;
 }

 .caption {
     margin-top: 2em;
     height: 1em;
     width: 10.031em;
     margin-left: 12.6em;
     margin-top: -1.2em;
     font-size: 1.2em;
     color: #fff;
     /* border: 1px solid #fff; */
 }

 /* Style background */


 .background {
     background-image: url("./img/3094352.jpg");
     width: 100%;
     height: 20px;
 }

 /* Style Imagem Login */
 .container-image {
     width: 60%;
     /* border: 2px solid rgb(255, 0, 200); */
     /* background: rgb(0, 138, 101); */
     /* background: radial-gradient(circle, rgba(0, 138, 101, 1) 0%, rgba(0, 24, 16, 1) 72%); */
     height: 100vh;
 }

 .image-login {
     background-image: url("../img/planeta\ terra.jpg");
     /* border: 2px solid blue; */
     background-size: cover;
     width: 500px;
     height: 500px;
     position: relative;
     top: 13em;
     left: 21em;
 }

 /* style formulario */
 h1 {
     color: aliceblue;
     font-size: 4em;
     margin: -0.2em 0em 0.3em 0em;
 }

 p {
     color: aliceblue;
     text-align: justify;
 }

 hr {
     margin: 2em;
     width: 22em;
     height: 2px;
     background-color: rgb(255, 228, 177);
 }

 a {
     color: #fff;
     font-size: 1.2em;
 }

 /* style button */

 .btn-grad {
     width: auto;
     height: auto;
     font-weight: 600;
     text-transform: uppercase;
     padding: 0.5em 2em;
     font-size: 1.4em;
     margin: 3em 0em 0em 6.2em;
     color: rgb(255, 255, 255);
     border: none;
     border-radius: 1em;
     transition: 1s;
     background: radial-gradient(circle, #00442d 0%, #258441 100%);
 }

 .btn-grad:hover {
     width: auto;
     height: auto;
     font-weight: 600;
     text-transform: uppercase;
     padding: 0.4em 1.8em;
     font-size: 1.4em;
     margin: 3.1em 0em 0em 6.3em;
     color: rgb(255, 255, 255);
     border: none;
     border-radius: 1em;
     transition: 0.2s;
     background: radial-gradient(circle, #258441 0%, #00442d 100%);
 }

 .glass-efect {
     background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
     -webkit-backdrop-filter: blur(20px);
     backdrop-filter: blur(20px);
     box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
     border: 1px solid rgba(255, 255, 255, 0.18);
     border-radius: 32px;
 }